.card {
  width: 23em;
  height: 100%;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 12px 1px 53px rgba(0, 0, 0, 0.25);
  padding: 0;
  padding-bottom: 1em;
  margin-top: 2em;

  button {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;

    .card-header {
      width: 100%;
      height: 17em;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 12px 12px 0 0;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: start;
      padding: 2em 2em;
      gap: 1em;
      font-size: 0.8em;

      .card-title-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-title {
          font-size: large;
          font-weight: 500;
        }
      }

      .card-description {
        padding-right: 8em;
        font-size: 1.25em;
      }
    }
  }
}


.team-card {
  width: 23em;
  height: 23em;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 12px 1px 53px rgba(0, 0, 0, 0.25);
  padding: 0;
  padding-bottom: 1em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .avatar {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2em;
  }

  .name {
    font-size: 1.5em;
    font-weight: 500;
  }

  .roles {
    margin-top: 1em;
  }
}