.header {
  width: 100%;
  height: 6em;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .search-container {
    width: 80%;
    display: flex;
    max-height: 4em;
    input {
      width: 100%;
      max-height: 4em;
      outline: none;
      border: none;
      padding: 0;
      background-color: #eeeeee;
      border-radius: 6px 0 0 6px;
      padding-left: 1.5em;

      font-size: 1.5em;
    }
    button {
      background-color: #eeeeee;
      height: 4em;
      border-radius: 0 6px 6px 0;
      padding-right: 2em;
      padding-left: 2em;
    }
  }

  input::after {
    content: "";
  }
}
